*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 20px;
}

header{
    display: flex;
    height: 130px;
    background-color: brown;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

/*logo*/
.logo{
   display: flex;
   align-items: center;
}

/*logo imagen*/
.logo img{
    height: 76px;
    margin-right: 10px;
    margin-left: -34px;
}

/*titulo logo*/
.titulop { 
    font-style: oblique;
    text-shadow: 1.2px 1.2px #e2b367;
    font-size: 38px;
  
    
}

.navi { 
    display: inline-flexbox;
    color: #fdc76f;
    background-color: rgb(194, 73, 73);
    text-align: center;
    margin: 0 15px 15px 0;
    text-decoration: none;
    border-radius: 10px; 
    padding: 0.5vw 0.8vw;
    
    
}

.navi:hover {
    background-color: rgba(15, 29, 0, 0.603);
}

main{
    width: auto;
    background-color: brown;
}

/* titulo 2*/
.titsecun { 
    display: flex;
    margin: 44px 15px 282px 596px;
    font-size: 30px;
    text-decoration: overline;  
}
/* imagen 1 y 2 */

body{ 
    background-color: brown;
}

section {
    background-image: url("./imagenes/imagen22.jpg") ;
    background-position: 0 30%  ;
    background-size: cover;
    height: auto;
    max-height: 450px;
}

.texto3 {
   display: flex;
    flex-direction:column;
    align-items: center;
    background-color: brown;
}
    
.texto5 {
    display: flex;
    flex-direction: row;
    align-items:initial;
    justify-content: space-between;
    background-color: brown;
    text-align: center;
    
}

.texto6 { 
    background-color:brown;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.cuerpo {
    background-color: brown;
}
.tite {
    display: flex;
    text-decoration: underline;  
}

/*imagenes*/
.im {
    width: 500px;
    margin: 5vh 0 0 5vh;
}
.imagenf1 {
    width: 345px;
    margin: 3.5vh 0 0 2.5vh;
    border-radius: 4.2vh;
}

/*tablas*/

li {
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.nota_fecha{
    text-align: center;
    color: rgb(239, 179, 39);
    margin: 0;
}

table{
    width: 100%;
    margin: -0.50ram;
    border-collapse: unset;
}
th, td{
    text-align: center;
}

.tabla_tit{
    background-color: #fc8989;
}

.tabla_par{
    background-color:#ffabab;
}

.tabla_imp{
    background-color: #f7a1d0 ;
}
.fall{
    text-size-adjust: 2px;
    text-decoration: overline;
    text-decoration-color: rgb(228, 198, 152);
}

/*footer*/
.final{
    padding: 1em 0;
    text-align: inherit;
    bottom: 0;
    width: 100%;
}


.Maps{
    padding-top: 2rem;
    display: flex;
    justify-content: space-around;
}


fieldset {
    text-align: center;
    padding-inline: 2px 2px;
    padding-top: 1.5rem;
    text-transform: none;
    padding-bottom: 5.5vh;
    border-radius: 2rem;
    border-color: #e2b367;
    
}

label{
    
            display:flex;
            flex-direction: column-reverse;
            align-items:center;
}

.descrpicion, .text4 {
     text-align: left;
    scroll-margin: auto;
}
.l1 {

   display: inline-flex;
   padding-inline: 5px;
   padding: 7px 12px 7px 12px;

}
