*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*miniportada*/

.miniportada {
    width: 100%;
    display: block;
}


/*header*/
header{
    font-size: 2.5vw;
}
/*Titulo principal*/
.titulop {
    margin-top: -600px;
    margin-bottom: 580px;
    color:black;
    font-style:oblique;
} 

/*Logo*/
.logo{
    width: 14vw;
    margin: vw 2dvw;
    position: absolute
}

nav{
    position: absolute;
    right: 0;
    top: 5.2vw;
    background-color: none;
}

.navicon{
    padding: 0.45vw 2.14vw;
    background-color: slateblue;
    color: #f4f4f4;
    font-weight: lighter;
    text-decoration: none;
    font-size: 1.15vw;
    border-radius: 14px;
}

.navicon:hover {
    background-color: rgb(23, 189, 134);
}

/*articles*/
.texto3{
    margin-left: 24.5vw;
    margin-top: 1.6vw;
    margin-right: 9.5vw;
}

.texto3 h3{
    color:black;
    font-style:oblique ;
    font-family:Times;
}

/*section*/
.titsecun{
    text-align: center;
    font-size: 4vw;
    padding: 0.65vw 2.00vw;
    border: solid #41e4dc;
    color:rgb(16, 48, 135);

}
section{
    margin-bottom: 2.5vw;
}
/*iamgen 1 hohckey*/
.imagenf{
    width: 12.5vw;
    margin: -11vw 85vw;
    position: absolute
}
/*imagen hockey dos pag about*/
.imagenf1{
    width: 8vw;
    margin: -15vw 90vw;
    position: absolute
    
}